html {
  background-color: white;
    margin : 0;
}

canvas {
    padding-top: 140px;
    margin: auto;
    display: block;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
}
.zdj img
{
  margin: auto;
  position: absolute;
  display: block;
  top: 30px;
  left: 0px;
  right: 7px;
}
